<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- SQL dialect, only thing required for Spring. 
        For stanalone application, other DB configs are required -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="com.rewa.hibernate.data.Person"/>
        <mapping class="com.rewa.hibernate.data.Customer"/>
        <mapping class="com.rewa.hibernate.data.Status"/>
        <mapping class="com.rewa.hibernate.data.Comment"/>
        <mapping class="com.rewa.hibernate.data.Coordinate"/>
        <mapping class="com.rewa.hibernate.data.CoordinateType"/>
        <mapping class="com.rewa.hibernate.data.Field"/>
        <mapping class="com.rewa.hibernate.data.Role"/>
        <mapping class="com.rewa.hibernate.data.Diploma"/>
        <mapping class="com.rewa.hibernate.data.PersonDiploma"/>
        <mapping class="com.rewa.hibernate.data.PersonRole"/>
        <mapping class="com.rewa.hibernate.data.PersonLevel"/>
        <mapping class="com.rewa.hibernate.data.Study"/>
    </session-factory>

</hibernate-configuration>