@media screen and (max-width: 810px) {
    .ui-tabs.ui-tabs-top > .ui-tabs-nav li{
        width: 100% !important;
    }
}

.panelGridCenter {
    margin: 0 auto;
    text-align: center;
}

.panelGridCenter div {
    margin-bottom: 0.2%;
}

.ui-inputgroup input, button{
	min-width: 20%;
}

.ui-inputgroup button{
	min-width: 21%;
}

.header-right{
    float: right;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0%;
}